*{
    background: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.texto{
    border: none;
    color: #0a3871;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
    height: 944px;
    width: 900px;


    

}

::placeholder{color: #0a3871}

.texto:focus{ /*PARA QUE YA NO APAREZCA EL BRODE DEL CUADRO AL PONER EL MOUSE*/
    outline:none;
}

.mensaje{
    background: #FFFFFF;
    background-image: url("Imagenes/Muñeco.png");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    border-radius: 32px;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    margin-left: 100px;
    margin-top: 90px;
    padding-left: 20px;
    padding-top: 50px;
    resize: none;
}

.mensaje:focus{
    outline:none;
}
.botones{

    margin-top: 100px;
    margin-left: 300px;

}

.bEncriptar{
    background: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.dEncriptar{
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.Bcopiar{
    position: absolute;
    bottom: 1100px;
    left: 1120px;
    background: #FFFFFF;
}
.copiar{
    background: #FFFFFF;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.info{
    text-align: center;
    width: 1350px;
}
.informacion{
    color: #495057;
    font-size: 18px;
}

.bi-exclamation-circle-fill{
    color: #495057;
    font-size: 18px;
}
